*{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body{
	margin:0;
	backgound:white;
	/* background:#f8f8f8; */
}
.nav{
	width:100%;
	height:60px;
	line-height:60px;
	background:white;
	overflow:hidden;
}
.nav-main{
	margin:0 auto;
	width:1170px;
}
.to-top{
    position:fixed;
	left:83%;
	top:70%;
	width:40px;  
    height:40px;
    background:rgba(0,0,0,0.2);
    text-align:center;
    display:none;
    cursor:pointer;
	animation:fade-in 0.8s;  
	-ms-animation:fade-in 0.8s;/* IE 9 */
	-moz-animation:fade-in 0.8s;/* Firefox */
	-webkit-animation:fade-in 0.8s;/* Safari 和 Chrome */
	-o-animation:fade-in 0.8s;/* Opera */
}
.to-top .icon-arrow-up2{
	 color:white;
	 font-size:30px;
	 line-height:40px;
}
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
} 
.to-top img{
	width:100%;
	height:100%;
}
.on{
	color:#1296db;
}
.bottom{
	float:left;
	width:100%;
	height:200px;
	text-align:center;
	background:#333942;
	-webkit-box-shadow: 0 0px 3px rgba(26,26,26,0.1);
    -moz-box-shadow: 0 0px 3px rgba(26,26,26,0.1);
    box-shadow: 0 0px 3px rgba(26,26,26,0.1);
}
.bottom a{
	line-height:200px;
	color:white;
	font-size:small;
	text-decoration:none;
}
.main{
	margin:0 auto;
	padding-top:10px;
	width:1170px;
	height:2000px;
}
.m-news{
	width:100%;
	height:300px;
	background:white;
}
.m-news-left{
	float:left;
	width:39.5%;
	height:300px;
	margin-right:0.5%;
	background:grey;
}
.m-news-right{
	float:left;
	width:59.5%;
	height:300px;
	margin-left:0.5%;
	background:black;
}
/* @media(min-width:768px){
	.nav-main{
		width:750px;
	}
	.main{
		width:750px;
		height:1000px;
	}
}
@media(max-width:768px){
	.logo{
		margin-left:7px;
	}
	.nav-portrait{
		margin-right:7px;
	}
	.nav-search{
		display:none;
	}
	.banner{
		display:none;
	}
}
@media(min-width:992px){
	.nav-main{
		width:970px;
	}
	.main{
		width:970px;
		height:1000px;
	}
}
@media(min-width:1200px){
	.nav-main{
		width:1170px;
	}
	.main{
		width:1170px;
		height:1000px;
	}
} */
.logo{
	float:left;
	cursor:default;
}
.tian,.xia,.wo,.you{
	float:left;
	font-size:22px;
	font-weight:bold;
	-webkit-touch-callout: none;  
    -webkit-user-select: none;  
    -khtml-user-select: none;  
    -moz-user-select: none;  
    -ms-user-select: none;  
    user-select: none;
    animation:fade-in 1.4s;  
	-ms-animation:fade-in 1.4s;/* IE 9 */
	-moz-animation:fade-in 1.4s;/* Firefox */
	-webkit-animation:fade-in 1.4s;/* Safari 和 Chrome */
	-o-animation:fade-in 1.4s;/* Opera */
}
.tian{
    background: -webkit-linear-gradient(left, #4285f4 , #ea4335);     /* 背景色渐变 */
	-webkit-background-clip: text;         /* 规定背景的划分区域 */
	-webkit-text-fill-color: transparent;  /* 防止字体颜色覆盖 */
	animation-delay:1s;
}
.xia{
	margin-top:7px;
	background: -webkit-linear-gradient(left, #ea4335 , #fbbc05);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-delay:1.1s;
}
.wo{
	margin-top:2px;
	background: -webkit-linear-gradient(left, #fbbc05 , #34a853);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-delay:1.2s;
}
.you{
    margin-left:3px;
	background: -webkit-linear-gradient(left, #34a853 , #4285f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); 	/* IE 9 */
	-moz-transform:rotate(-40deg); 	/* Firefox */
	-webkit-transform:rotate(-40deg); /* Safari 和 Chrome */
	-o-transform:rotate(-40deg); 	/* Opera */
	animation-delay:1.3s;
}
.nav-portrait{
	float:right;
	width:40px;
	height:40px;
	margin-top:10px;
	margin-bottom:10px;
	background:url(../images/jimmy2.jpg);
	background-size:100%;
	background-repeat:no-repeat;
}
.nav-menu{
	float:left;
	color:#424242;
	margin-left:10px;
	margin-right:10px;
	height:60px;
}
.nav-menu-btn{
	float:left;
	height:60px;
	font-weight:bold;
	line-height:60px;
	text-align:center;
	cursor:pointer;
	margin-left:15px;
	margin-right:15px;
}
.nav-menu-btn:HOVER{
	color:#1296db;
}
.nav-search{
	margin:12px;
	float:left;
}
.nav-search input[type=text]{
	float:left;
	width:250px;
	height:36px;
	border:1px solid #89929d;
	outline:none;
	font-size:small;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	box-sizing:border-box;
}
.nav-search div{
	float:left;
	width:36px;
	height:36px;
	text-align:center;
	background:#89929d;
	cursor:pointer;
}
.icon-search{
	color:white;
	line-height:36px;
}
.banner{
	position:relative;
	width:100%;
	height:600px;
	overflow:hidden;
}
.banner img{
	position:absolute;
	width:1920px;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	opacity:0;
	animation:simg 40s infinite;  
	-ms-animation:simg 40s infinite;/* IE 9 */
	-moz-animation:simg 40s infinite;/* Firefox */
	-webkit-animation:simg 40s infinite;/* Safari 和 Chrome */
	-o-animation:simg 40s infinite;/* Opera */
}
@media(min-width:1920px){
	.banner img{	
		width:100%;
	}
}
@keyframes simg{
	0%{opacity:0}
	2%{opacity:1}
	12.5%{opacity:1}
	14.5%{opacity:0}
}
.banner img:nth-child(0){animation-delay:0s}
.banner img:nth-child(1){animation-delay:5s}
.banner img:nth-child(2){animation-delay:10s}
.banner img:nth-child(3){animation-delay:15s}
.banner img:nth-child(4){animation-delay:20s}
.banner img:nth-child(5){animation-delay:25s}
.banner img:nth-child(6){animation-delay:30s}
.banner img:nth-child(7){animation-delay:35s}