*{
	font-family: "Arial","Microsoft YaHei","÷ו","ו",sans-serif;
} 
#logo{
	width:26px;
	height:26px;
	margin-top:12px;
	margin-right:12px;
}
@media(max-width: 768px){
	#logo{
		width:20px;
		height:20px;
		margin-top:15px;
		margin-right:15px;
	}
}
.navbar-inverse input[type="text"]{
	background:#313131;
	border:none;
	color:white;
}
.navbar-inverse .navbar-form{
	position:relative;
}
.navbar-inverse button[type="submit"]{
	position:absolute;
	top:35%;
	right:20px;
	background:none;
	border:none;
	outline:none;
}
@media(min-width: 768px){
	.navbar-inverse button[type="submit"]{
		top:25%;
	}
}
.navbar-inverse .glyphicon{
	color:#999;
}
.profile{
	margin-right:25px;
}
